* {
    box-sizing: border-box;
}

body {
    background-color: #f7f7f7;
}

nav {
    display: flex;
}

nav ul {
    background-color: deeppink;
    flex: 2;
    padding: 1.2rem;
}
nav > div {
    background-color: dodgerblue;
    padding: 1ex 1em;
    flex: 5;
}
nav li {
    list-style-type: none;
}

.userinfo {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
}

.warning {
    color: orange; 
    background-color: white;
}
.info {
    color: white; 
    background-color: green;
}
.error {
    color: red; 
    background-color: #eee;
}

@media screen and (max-width: 790px) {
    .global {
        margin: 1em;
    }
}
