{% extends "base.html.j2" %}

{% block obsah %}

<h2>Login</h2>

<form method="post">
<p> jmeno: <input type="text"     name="jmeno" placeholder="jmeno"/> </p> 
<p> heslo: <input type="password" name="heslo" placeholder="jSi976jc." /> </p>
<p> <input type="submit" value="Odeslat přihlašovací údaje" /> </p>
</form>

{% endblock obsah %}